<!-- <section class="section about-us" id="about-us" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine"> -->
     <section class="section about-us" id="about-us">
    <div class="container">
        <div class="about-us__aboutus--flex">
            <div class="about-us__pictures">
                <picture class="picture-1">
                    <source srcset="./images/about/fotodoc3.png"
                        media="(min-width: 1280px)" sizes="270px" />
                    <source srcset="./images/about/fotodoc3.png"
                        media="(min-width: 768px)" sizes="330px" />
                    <img src="./images/about/fotodoc3.png" sizes="330px" alt="Фото на документи" />
                </picture>
            </div>
            <div class="about-us__about">
                <p class="section__subtitle about-us__subtitle">Про нас</p>
                <h2 class="section__title about-us__title">Фотоцентр твого міста</h2>
                <p class="about-us__about--title">Якщо ти бажаєш швидкий та якісний друк – тобі точно до
                    нас.</p>
                <p class="about-us__about--subtitle">
                    Ми працюємо вже більше 20 років. 
                </p>
                <a href="tel:+380973368373" class="button about-us header__button-feedback" aria-label="Телефон компанії" data-menu-link>
                    +38 097 336 83 73
                </a>
            </div>
        </div>
    </div>
</section>